@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    background-color: #FFF3E0;
    height: 100%;
}
#root{
    height:100lvh;
}
@font-face {
    font-family: 'ArabicText';
    src: url('./fonts/ArabicText.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ArabicLogo';
    src: url('./fonts/ArabicLogo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.Homebtn {
    @apply bg-white text-[#b1581983] px-4 py-2 rounded-lg font-semibold text-lg
        hover:bg-transparent border-white 
        hover:text-white transform hover:-translate-y-1 
        border-2 transition-transform duration-200;
}

.navs{
    @apply p-4 hover:text-dark hover:-translate-y-0.5 transition;  
}

.inp{
    @apply rounded-md bg-[#fde1b1] focus:outline-primary transition p-2 h-5/6 text-black;
}

.SideNaves{
    @apply p-2 hover:bg-dark hover:-translate-y-0.5 transition;  
}